@mixin for-tab {
  @media (max-width: 768px) {
    @content;
  }
}

.container{
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    //justify-content: center;
  
  .title{
 
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 0.5rem;
      padding:2rem;
      @include for-tab(){
        padding: 0.5rem;
      }
  
  }

  .content{
  
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    width: 60rem;
    @include for-tab(){
      width:44rem;
      padding: 0.5rem;
    }
  
    section{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:1.5rem;
      padding: 0.5rem;
    }
    .controls{
      display: grid;
      grid-template-columns: auto auto ;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
      width: 100%;
      button{
        padding: 1rem;
        font-size: 1.5rem;
        width:20rem;
        @include for-tab(){
          padding: 1rem;
          font-size: 1.5rem;
          width:20rem;
        }
      }
    }
  
}

}
.sub-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  width: 60rem;
  @include for-tab(){
    width:44rem;
    
  }

  .back{
    display: flex;
    padding:0.5rem;
    button{
      width:4rem;
    }
  }
  .tabs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding:2rem;
    // border-bottom: 1px #d42836 solid;
  
    .tabContent {
      background-color: #c0bebf;
      border-radius: 50%;
      color: rgb(78, 78, 78);
      // margin: 10px;
      font-size: 1.3rem;
      font-weight: 700;
      padding: 10px;
      cursor: pointer;
    }
    .tabContent.disabled {
      pointer-events: none; /* Disable pointer events */
      opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
    }
    .activeTab{
      background-color: #5ba4b1;
      color: #c0bebf;
    }
    .img-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 16px; 
      max-height: 300px; 
      overflow-y: auto;
      @include for-tab(){
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        column-gap: 3px;
      }
    
 
        img{
          width: 180px;
          height:150px;
          margin-top: 20px;   
          margin-left: 20px;
          @include for-tab(){
            width: 140px;
            height:130px;
            border: 1px solid black;
           
           
          }
      }
 
      .imgcontent {
        position: relative;
        // height:176px;
        // width:176px;
        // border: 1px solid #202020; 
      }
    }
  }
  .controller{
    display: flex;
  // justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    @include for-tab(){
      display: flex;
      gap:2rem;
    }
    button{
      width:3.5rem;

      @include for-tab(){
        
        width:5.5rem;

      }
    }
  }
  .tabContentdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    margin-left:1rem;
    margin-block-start: 0.5rem;
 
    .action{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      button{
        width:8rem;
      }
     }
  }
  
    
  .show {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: space-between;
    gap:0.3rem;
    .img-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 16px; 
      max-height: 300px; 
      overflow-y: auto;
      @include for-tab(){
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        column-gap: 3px;
      }
    
    }  
      img{
        width: 180px;
        height:150px;
        margin-top: 20px;   
        margin-left: 20px;
        @include for-tab(){
          width: 140px;
          height:130px;
          border: 1px solid black;
        }
      }
      .imgcontent {
        position: relative;
        // height:176px;
        // width:176px;
        // border: 1px solid #202020; 
      }
  }
  
  .hide {
    display: none;
  }
 
}

   