<div class="container"> 
  <div class="title">
    <h1><b>{{vinNumber}}</b></h1>
  </div>
  <div class="content" *ngIf="data">

    <section>
      <mat-card class="custom-card">
        <mat-card-content>
          <b><p>Country Manf </p></b>
          <b><p style="font-size: 1.3rem;">{{data.country_manuf}}</p></b>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="custom-card">
        <mat-card-content>
          <b><p>Vehicle Type </p></b>
          <b><p style="font-size: 1.3rem;"> {{data.vehicle_type}}</p></b>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="custom-card">
        <mat-card-content>
          <b><p>Vehicle Model </p></b>
          <b><p style="font-size: 1.3rem;"> {{data.vehicle_model}}</p></b>
        </mat-card-content>
      </mat-card>

      <mat-card class="custom-card">
        <mat-card-content>
          <b><p>Vehicle Brand </p></b>
          <b><p style="font-size: 1.3rem;"> {{data.vehicle_brand}}</p></b>
        </mat-card-content>
      </mat-card>
    </section>

      <!-- <section>
        <mat-card class="custom-card">
          <mat-card-content>
            <b><p>Vehicle Brand </p></b>
            <b><p style="font-size: 1.3rem;"> {{data.vehicle_brand}}</p></b>
          </mat-card-content>
        </mat-card>
      <mat-card class="custom-card">
        <mat-card-content>
          <b><p>Vehicle Brand </p></b>
          <b><p style="font-size: 1.3rem;"> {{data.vehicle_brand}}</p></b>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="custom-card">
        <mat-card-content>
          <b><p>Vehicle Brand </p></b>
          <b><p style="font-size: 1.3rem;"> {{data.vehicle_brand}}</p></b>
        </mat-card-content>
      </mat-card>
    </section> -->

    <!-- <section>
      <mat-form-field appearance="fill">
          <mat-label>Vehicle Brand</mat-label>
          <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_brand}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Vehicle Brand</mat-label>
        <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_brand}}">
    </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Vehicle Brand</mat-label>
          <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_brand}}">
      </mat-form-field>
    </section>  -->


    <div class="controls" *ngIf="isButtonDivVisible" >
      <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="isFrontLeftDisabled" (click)="toggleDivs('FrontLeft')">Front Left</button>
        <button mat-raised-button color="primary" [disabled]="isRearLeftDisabled" (click)="toggleDivs('RearLeft')">Rear Left</button>       
      </div>
      <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="isFrontRightDisabled" (click)="toggleDivs('FrontRight')">Front Right</button>
        <button mat-raised-button color="primary" [disabled]="isRearRightDisabled" (click)="toggleDivs('RearRight')">Rear Right</button>
      </div>
        <button mat-raised-button color="primary" (click)="submitAll()" *ngIf="isAllButtonsDisabled()" (click)="toggleDivs('Submit')" class="action-btn">Submit All</button>
      </div>
  </div>

<div class="sub-content">

  <div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'FrontLeft'">
    <!-- Tab content for Front Left -->
    <div  class="tabContent" *ngIf="activeDiv !== 5 " (click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''" >Window</div>
    <div  class="tabContent"  *ngIf="activeDiv !== 5 " (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">Door</div>
    <div class="tabContent"  *ngIf="activeDiv !== 5 " (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''" >DoorHandle</div>
    <div  class="tabContent"  *ngIf="activeDiv !== 5 " (click)="switchDiv(4)" [ngClass]="activeDiv==4?'activeTab':''" >HubCap</div>
    <div   (click)="switchDiv(5)" [ngClass]="activeDiv==5?'activeTab':''"></div>
  </div>
<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'FrontRight'">
    <!-- Tab content for Front Right -->
    <div  class="tabContent" *ngIf="activeDiv !== 4 "(click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''">Wheel</div>
    <div class="tabContent"  *ngIf="activeDiv !== 4 " (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">Roof</div>
    <div class="tabContent" *ngIf="activeDiv !== 4 "  (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''">Mirror</div>
    <div (click)="switchDiv(4)" [ngClass]="activeDiv==4?'activeTab':''"></div>
</div>

<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'RearLeft'">
  <!-- Tab content for Rear Left -->
  <div  class="tabContent"  *ngIf="activeDiv !== 3 "  (click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''">Trunk</div>
  <div  class="tabContent"   *ngIf="activeDiv !== 3 " (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">TailLight</div>
  <div   (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''"></div>
</div>

<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'RearRight'">
  <!-- Tab content for Rear Right -->
  <div  class="tabContent"  *ngIf="activeDiv !== 4 "  (click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''">Logo</div>
  <div  class="tabContent"  *ngIf="activeDiv !== 4 "  (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">Wiper</div>
  <div  class="tabContent"  *ngIf="activeDiv !== 4 "  (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''">Hood</div>
  <div  (click)="switchDiv(4)" [ngClass]="activeDiv==4?'activeTab':''"></div>
</div>

<div class="tabs"*ngIf="!isButtonDivVisible && activeButton === 'Submit' && !showMissingImages" style="display:flex;flex-direction: column;">
  <h2 style="text-align: center;">All Selected Images</h2>
  <div class="img-grid">
  <div *ngFor="let img of selectedImagesAll" class="imgcontent">
    <img [src]="baseUrl + img.image" alt="">
  </div>
  </div>
</div>

<div class="tabs" *ngIf="showMissingImages" style="display:flex;flex-direction: column;">
  <h2 style="text-align: center; margin-top:1rem;">Missing Images</h2>
  <div class="img-grid">
    <div *ngFor="let img of missingImages" class="imgcontent">
      <img [src]="baseUrl + img" alt="">
    </div>
  </div>
</div>

  <div class="controller" *ngIf="!isButtonDivVisible">
    <button mat-raised-button color="primary" (click)="back()"  *ngIf="activeButton !== 'Submit'">Back</button>
    <!-- <button mat-raised-button color="primary" (click)="back()"  *ngIf="activeButton !== 'Submit' && activeButton === 'FrontRight'">Back</button> -->

    <button style="width:5.5rem" mat-raised-button color="primary"  *ngIf="activeButton === 'Submit' && !showMissingImages" (click)="Validate()">Validate</button>
    <button  mat-raised-button color="primary"  *ngIf="showMissingImages" (click)="submit()">Ok</button>
    
    <!-- <button mat-raised-button color="primary" (click)="nextTab()" *ngIf="!showMissingImages && activeButton === 'FrontLeft' && activeDiv !==5 ">Next</button>
    <button mat-raised-button color="primary" (click)="nextTab()" *ngIf="!showMissingImages && activeButton === 'FrontRight' && activeDiv !==4 ">Next</button>
    <button mat-raised-button color="primary" (click)="nextTab()" *ngIf="!showMissingImages && activeButton === 'RearLeft' && activeDiv !== 3  ">Next</button>
    <button mat-raised-button color="primary" (click)="nextTab()" *ngIf="!showMissingImages && activeButton === 'RearRight' && activeDiv !==4 ">Next</button> -->

  </div> 

<div *ngIf="!isButtonDivVisible" class="tabContentdiv">
<!-- Tab 1 -->
<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton === 'FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of windowData; let i=index" (click)="onImageSelected(img, 1)" class="imgcontent"  [class.selected]="isSelected(img, 1)">    
        <img src="{{ baseUrl + img.image }}" alt="">
        <input type="checkbox" [checked]="isSelected(img, 1)"(change)="onImageSelected(img, 1)" >
    </div>
  </div>
</div>


<!-- Tab 2 -->
<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton === 'FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of doorData; let i=index" (click)="onImageSelected(img, 2)" class="imgcontent" [class.selected]="isSelected(img, 2)">
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" >
    </div>
  </div>
</div>

<!-- Tab 3 -->
<div [ngClass]="{'show': activeDiv === 3, 'hide': activeDiv !== 3}" *ngIf="activeButton === 'FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of handleData; let i=index" (click)="onImageSelected(img, 3)" class="imgcontent" [class.selected]="isSelected(img, 3)">
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 3)" (change)="onImageSelected(img, 3)" >
    </div>
  </div>
</div>

  <!-- Content 4 -->
<div [ngClass]="{'show': activeDiv === 4, 'hide': activeDiv !== 4}" *ngIf=" activeButton ==='FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of hubcapData; let i=index" (click)="onImageSelected(img,4)" class="imgcontent" [class.selected]="isSelected(img, 4)">   
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 4)" (change)="onImageSelected(img, 4)" >
    </div>
  </div>
  </div>



  <div [ngClass]="{'show': activeDiv === 5 && isSubmitted, 'hide': activeDiv !== 5 }" *ngIf=" activeButton ==='FrontLeft'" >
    <div class="tabContent">
    <h2 >Selected Images - Front Left</h2>
      <div class="img-grid">
        <div *ngFor="let img of selectedImagesFrontLeft" class="imgcontent">
          <img src="{{baseUrl + img.image}}" alt="">
        </div>
      </div> 
      </div>
  </div>
  


<!-- Front Right-->


<!-- Tab 2 -->
<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton ==='FrontRight'">
  <div class="img-grid">
    <div  *ngFor="let img of wheelData; let i=index" (click)="onImageSelected(img,1)" class="imgcontent" [class.selected]="isSelected(img, 1)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton ==='FrontRight'">
  <div class="img-grid">
    <div  *ngFor="let img of roofData; let i=index" (click)="onImageSelected(img,2)" class="imgcontent" [class.selected]="isSelected(img, 2)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 3, 'hide': activeDiv !== 3}" *ngIf="activeButton ==='FrontRight'">
  <div class="img-grid">
    <div  *ngFor="let img of mirrorData; let i=index" (click)="onImageSelected(img,3)" class="imgcontent" [class.selected]="isSelected(img, 3)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 3)" (change)="onImageSelected(img, 3)" >
  </div>
  </div>
</div>


  <!-- Content 4 -->
  <div [ngClass]="{'show': activeDiv === 4 && isSubmitted, 'hide': activeDiv !== 4 || !isSubmitted}" *ngIf="activeButton ==='FrontRight'">
    <div class="tabContent">
      <h2>Selected Images - Front Right</h2>
      <div class="img-grid">
        <div *ngFor="let img of selectedImagesFrontRight" class="imgcontent">
          <img src="{{baseUrl + img.image}}" alt="">
        </div>
      </div>
    </div>
  </div>
  

<!-- Rear Left-->

<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton ==='RearLeft'">
  <div class="img-grid">
    <div  *ngFor="let img of trunkData; let i=index" (click)="onImageSelected(img,1)" class="imgcontent" [class.selected]="isSelected(img, 1)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton ==='RearLeft'">
  <div class="img-grid">
    <div  *ngFor="let img of lightData; let i=index" (click)="onImageSelected(img,2)" class="imgcontent" [class.selected]="isSelected(img, 2)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 3 && isSubmitted, 'hide': activeDiv !== 3 || !isSubmitted}"  *ngIf="activeButton ==='RearLeft'">
  <div class="tabContent">
    <h2>Selected Images - Rear Left</h2>
    <div class="img-grid">
      <div *ngFor="let img of selectedImagesRearLeft" class="imgcontent">
        <img src="{{baseUrl + img.image}}" alt="">
      </div>
    </div>
  </div>
</div>


<!--Rear Right-->

<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton ==='RearRight'">
  <div class="img-grid">
    <div  *ngFor="let img of logoData; let i=index" (click)="onImageSelected(img,1)" class="imgcontent" [class.selected]="isSelected(img, 1)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton === 'RearRight'">
  <div class="img-grid">
    <div  *ngFor="let img of wiperData; let i=index" (click)="onImageSelected(img,2)" class="imgcontent" [class.selected]="isSelected(img, 2)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 3, 'hide': activeDiv !== 3}" *ngIf="activeButton ==='RearRight'">
  <div class="img-grid">
    <div  *ngFor="let img of hoodData; let i=index" (click)="onImageSelected(img,3)" class="imgcontent" [class.selected]="isSelected(img, 3)">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 3)" (change)="onImageSelected(img, 3)" >
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 4 && isSubmitted, 'hide': activeDiv !== 4 || !isSubmitted}" *ngIf="activeButton === 'RearRight'">
  <div class="tabContent">
    <h2>Selected Images - Rear Right</h2>
    <div class="img-grid">
      <div *ngFor="let img of selectedImagesRearRight" class="imgcontent">
        <img src="{{baseUrl + img.image}}" alt="">
      </div>
    </div>
  </div>
</div>




<div class="action" style="padding: 0.3rem" >
  <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv === 4 && activeButton === 'FrontLeft'" [disabled]="!(selectedImagesFrontLeft.length>0)">Submit</button>
  <button mat-raised-button color="primary" (click)="onClick('FrontLeft')" *ngIf="activeDiv === 5 && activeButton === 'FrontLeft'">Done</button>
</div>

<div class="action" style="padding:0.3rem">
  <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 3 && activeButton === 'FrontRight' "  [disabled]="!(selectedImagesFrontRight.length>0)" >Submit </button>
  <button mat-raised-button color="primary" (click)="onClick('FrontRight')" *ngIf="activeDiv== 4 && activeButton === 'FrontRight'" >Done </button>

</div>
<div class="action" style="padding:0.3rem">
  <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 3 &&  activeButton === 'RearRight'" [disabled]="!(selectedImagesRearRight.length>0)">Submit </button>
  <button mat-raised-button color="primary" (click)="onClick('RearRight')" *ngIf="activeDiv== 4 &&  activeButton === 'RearRight'" >Done </button>

</div>

<div class="action" style="padding:0.3rem">
  <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 2 && activeButton === 'RearLeft'" [disabled]="!(selectedImagesRearLeft.length>0)">Submit </button>
  <button mat-raised-button color="primary" (click)="onClick('RearLeft')" *ngIf="activeDiv== 3 && activeButton === 'RearLeft'" >Done </button>

</div>




</div>
</div>
</div>
