@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin for-tab {
  @media (max-width: 768px) {
    @content;
  }
}

.container{
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    //justify-content: center;
  
  .title{
 
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 0.5rem;
      padding:2rem;
      @include for-tab(){
        padding: 0.5rem;
      }
  
  }

  .content{
  
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    width: 52rem;
    @include for-tab(){
      width:44rem;
      padding: 0.5rem;

  
    }
    .custom-card {
      width:13rem;
      margin-bottom: 1rem; /* Adjust margin as needed */
      background-color: #fff; /* Card background color */
      border-radius: 0.5rem; /* Rounded corners */
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); /* Shadow */
      @include for-tab(){
        width:11rem;
      }
    }
    
    .custom-card mat-card-content {
      padding: 1rem; /* Padding inside the card */
      p{
        font-size:1rem;
        font-weight: 500;
        text-align: center;
        @include for-tab(){
          font-size: 0.8rem;
        }
      }
    }
    
    section{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:2.5rem;
      padding: 0.5rem;
      @include for-tab(){
        gap:1.5rem;
        padding: 0.5rem;
      }
    }


    // .controls{
    //   display: grid;
    //   grid-template-columns: auto auto ;
    //   justify-content: center;
    //   gap: 2rem;
    //   padding: 2rem;
    //   width: 100%;
    //   button{
    //     padding: 1rem;
    //     font-size: 1.5rem;
    //     width:20rem;
    //     @include for-tab(){
    //       padding: 1rem;
    //       font-size: 1.5rem;
    //       width:20rem;
    //     }
    //   }
    // }

    /* Style for the button container */
.controls {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr); /* Two columns */
display: flex;
flex-direction: column;
justify-content: center;
  @include for-tab(){
    //padding:1rem;s
  
  }
 
  .buttons{
    flex-direction: column;
  }

button.action-btn{
  margin-left: 8rem;
  @include for-tab(){
    margin-left: 6rem;
  }
}
/* Style for the buttons */
button {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 0px 24px; /* Adjust padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition-duration: 0.4s; /* Smooth transition */
  width: 15rem; /* Set button width */
  height: 3rem;
  margin: 0.5rem; /* Adjust margin between buttons */
 @include for-tab(){
  width:11rem;
  height:2rem;
  font-size:17px;
 }
}

/* Hover effect */
button:hover {
  background-color: #0056b3; /* Darker blue */
}

/* Disabled state */
button[disabled] {
  background-color: #cccccc; /* Grey */
  cursor: not-allowed;
}
 

}


}

.sub-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  width: 55rem;
  @include for-tab(){
    width:44rem;
  }

  .tabs {
    display: flex;
    // flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    padding:2rem;
    // border-bottom: 1px #d42836 solid;
  @include for-tab(){
    padding: 0.5rem;
    
  }
  .img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
    max-height: 300px; 
    overflow-y: auto;
    
    @include for-tab(){
      column-gap: 3px;
    }
   
      img{
        width: 180px;
        height:150px;
        margin-top: 20px;   
        margin-left: 20px;
        border: 1px solid black;
        @include for-tab(){
          width: 130px;
          height:130px;           
         
        }
    }

    .imgcontent {
      position: relative;
      // height:176px;
      // width:176px;
      // border: 1px solid #202020; 
    }
  }
    .tabContent {
      // background-color: #c0bebf;
      // border-radius: 50%;
      color:#007bff; ;
      // margin: 10px;
      position: relative;
      font-size: 1.3rem;
      font-weight: 500;
      padding: 10px;
      cursor: pointer;
      @include for-tab(){
        font-size: 1.1rem;
      }

      h2{
        text-align: center;
      }
    }

    .activeTab{
      color:#0056b3;;
    }
    .tabContent.activeTab::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15%;
      width: 6rem;
      height: 2px;
      background-color: #0056b3;
  }
   
  }
  .controller{
    display: flex;
  // justify-content: space-evenly;
    gap: 42rem;
    padding: 1rem;
    @include for-tab(){
      padding:0.5rem;
      gap:31rem;
    }
    button{
      width:5.5rem;

      @include for-tab(){        
        width:3.5rem;
        height:2rem; 
      }
    }
  }

  .tabContentdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    margin-left:1rem;
    margin-block-start: 0.5rem;
    @include for-tab(){
      margin-block-start: 1.5rem;
    }
    
  .show {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: space-between;
    gap:0.3rem;
    .img-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 16px; 
      max-height: 300px; 
      overflow-y: auto;
      @include for-tab(){
        column-gap: 3px;
      }
    
    }  
    h2{
      text-align: center;
      @include for-tab(){
        text-align: center;
      }
    }
      img{
        width: 180px;
        height:150px;
    
        border: 1px solid black;
        @include for-tab(){
          width: 130px;
          height:130px;
          border: 1px solid black;
        }
      }
      .imgcontent {
        position: relative;
        
        input[type="checkbox"] {
          margin-left: 5.2rem;
    
          @include for-tab() {
            margin-left: 3.8rem;
          }

        }
    
        &.selected {
          width:182px;
          height:152px;
          border: 2px solid green;
         @include for-tab(){
          width:132px;
          height:132px;
          border: 2px solid green;
         }
        }
      }
      
  }
  
  .hide {
    display: none;
  }
 
 

.action{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  @include for-tab(){
    padding:0.3rem;
  }
  button{
    width:8rem;
    @include for-tab(){
      width:7rem;
    }
  }
 }
}
}
}  


