<div class="container"> 
  <div class="title">
    <h1><b>{{vinNumber}}</b></h1>
  </div>
  <div class="content" *ngIf="data">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Country Manf</mat-label>
        <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.country_manuf}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Vehicle Type</mat-label>
        <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_type}}">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
          <mat-label>Vehicle Model</mat-label>
          <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_model}}">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
          <mat-label>Vehicle Brand</mat-label>
          <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_brand}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Vehicle Brand</mat-label>
        <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_brand}}">
    </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Vehicle Brand</mat-label>
          <input type="text" matInput autocomplete="off" [readonly]="true" value="{{data.vehicle_brand}}">
      </mat-form-field>
    </section> 


    <div class="controls" *ngIf="isButtonDivVisible" >
        <button mat-raised-button color="primary" [disabled]="isFrontLeftDisabled" (click)="toggleDivs('FrontLeft')">Front Left</button>
        <button mat-raised-button color="primary" [disabled]="isFrontRightDisabled" (click)="toggleDivs('FrontRight')">Front Right</button>
        <button mat-raised-button color="primary" [disabled]="isRearLeftDisabled" (click)="toggleDivs('RearLeft')">Rear Left</button>
        <button mat-raised-button color="primary" [disabled]="isRearRightDisabled" (click)="toggleDivs('RearRight')">Rear Right</button>
      
        <button mat-raised-button color="primary" *ngIf="isAllButtonsDisabled()" (click)="submitAll()" (click)="toggleDivs('Submit')">Submit All</button>

      </div>
  </div>

<div class="sub-content">
  <div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'FrontLeft'">
    <!-- Tab content for Front Left -->
    <div  class="tabContent" *ngIf="activeDiv !== 5 " (click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''" >Window</div>
    <div  class="tabContent"  *ngIf="activeDiv !== 5 " (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">Door</div>
    <div class="tabContent"  *ngIf="activeDiv !== 5 " (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''" >DoorHandle</div>
    <div  class="tabContent"  *ngIf="activeDiv !== 5 " (click)="switchDiv(4)" [ngClass]="activeDiv==4?'activeTab':''" >HubCap</div>
    <div   (click)="switchDiv(5)" [ngClass]="activeDiv==5?'activeTab':''"></div>
</div>
<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'FrontRight'">
    <!-- Tab content for Front Right -->
    <div  class="tabContent" *ngIf="activeDiv !== 4 "(click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''">Wheel</div>
    <div class="tabContent"  *ngIf="activeDiv !== 4 " (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">Roof</div>
    <div class="tabContent" *ngIf="activeDiv !== 4 "  (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''">Mirror</div>
    <div (click)="switchDiv(4)" [ngClass]="activeDiv==4?'activeTab':''"></div>
</div>

<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'RearLeft'">
  <!-- Tab content for Rear Left -->
  <div  class="tabContent"  *ngIf="activeDiv !== 3 "  (click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''">Trunk</div>
  <div  class="tabContent"   *ngIf="activeDiv !== 3 " (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">TailLight</div>
  <div   (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''"></div>
</div>

<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'RearRight'">
  <!-- Tab content for Rear Right -->
  <div  class="tabContent"  *ngIf="activeDiv !== 4 "  (click)="switchDiv(1)" [ngClass]="activeDiv==1?'activeTab':''">Logo</div>
  <div  class="tabContent"  *ngIf="activeDiv !== 4 "  (click)="switchDiv(2)" [ngClass]="activeDiv==2?'activeTab':''">Wiper</div>
  <div  class="tabContent"  *ngIf="activeDiv !== 4 "  (click)="switchDiv(3)" [ngClass]="activeDiv==3?'activeTab':''">Hood</div>
  <div  (click)="switchDiv(4)" [ngClass]="activeDiv==4?'activeTab':''"></div>
</div>

<div class="tabs" *ngIf="!isButtonDivVisible && activeButton === 'Submit'" >
  <div class="img-grid">
  <div *ngFor="let img of selectedImagesAll" class="imgcontent">
    <img [src]="baseUrl + img.image" alt="">
  </div>
  </div>
</div>


  <div class="controller" *ngIf="!isButtonDivVisible">
    <button mat-raised-button color="primary" (click)="back()">Back</button>
    <button mat-raised-button color="primary" (click)="validationCheck()" *ngIf="activeButton === 'Submit'">Ok</button>
    <button mat-raised-button color="primary"  *ngIf="activeButton === 'Submit'">Not Ok</button>
    <button mat-raised-button color="primary"  *ngIf="activeButton === 'Submit'">Submit</button>

    <!-- <button mat-raised-button color="primary" (click)="next()">Next</button> -->
  </div> 

<div *ngIf="!isButtonDivVisible" class="tabContentdiv">
<!-- Tab 1 -->
<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton === 'FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of windowData; let i=index" (click)="onImageSelected(img, 1)" class="imgcontent">
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" style="position:relative;margin-left:5.5rem;">
    </div>
  </div>
</div>

<!-- Tab 2 -->
<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton === 'FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of doorData; let i=index" (click)="onImageSelected(img, 2)" class="imgcontent">
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" style="position:relative;margin-left:5.5rem;">
    </div>
  </div>
</div>

<!-- Tab 3 -->
<div [ngClass]="{'show': activeDiv === 3, 'hide': activeDiv !== 3}" *ngIf="activeButton === 'FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of handleData; let i=index" (click)="onImageSelected(img, 3)" class="imgcontent">
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 3)" (change)="onImageSelected(img, 3)" style="position:relative;margin-left:5.5rem;">
    </div>
  </div>
</div>

  <!-- Content 4 -->
<div [ngClass]="{'show': activeDiv === 4, 'hide': activeDiv !== 4}" *ngIf=" activeButton ==='FrontLeft'">
  <div class="img-grid">
    <div *ngFor="let img of hubcapData; let i=index" (click)="onImageSelected(img,4)" class="imgcontent">   
      <img src="{{ baseUrl + img.image }}" alt="">
      <input type="checkbox" [checked]="isSelected(img, 4)" (change)="onImageSelected(img, 4)" style="position:relative;margin-left:5.5rem;">
    </div>
  </div>
  </div>



  <div [ngClass]="{'show': activeDiv === 5 && isSubmitted, 'hide': activeDiv !== 5 }" *ngIf=" activeButton ==='FrontLeft'" >
    <div class="tabContent">
      <p>Selected Images - Front Left</p>
      <div class="img-grid">
        <div *ngFor="let img of selectedImagesFrontLeft" class="imgcontent">
          <img [src]="baseUrl + img.image" alt="">
        </div>
      </div>
    </div>
  </div>
  


<!-- Front Right-->


<!-- Tab 2 -->
<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton ==='FrontRight'">
  <div class="img-grid">
    <div  *ngFor="let img of wheelData; let i=index" (click)="onImageSelected(img,1)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton ==='FrontRight'">
  <div class="img-grid">
    <div  *ngFor="let img of roofData; let i=index" (click)="onImageSelected(img,2)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 3, 'hide': activeDiv !== 3}" *ngIf="activeButton ==='FrontRight'">
  <div class="img-grid">
    <div  *ngFor="let img of mirrorData; let i=index" (click)="onImageSelected(img,3)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 3)" (change)="onImageSelected(img, 3)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>


  <!-- Content 4 -->
  <div [ngClass]="{'show': activeDiv === 4 && isSubmitted, 'hide': activeDiv !== 4 || !isSubmitted}" *ngIf="activeButton ==='FrontRight'">
    <div class="tabContent">
      <p>Selected Images - Front Right</p>
      <div class="img-grid">
        <div *ngFor="let img of selectedImagesFrontRight" class="imgcontent">
          <img [src]="baseUrl + img.image" alt="">
        </div>
      </div>
    </div>
  </div>
  

<!-- Rear Left-->

<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton ==='RearLeft'">
  <div class="img-grid">
    <div  *ngFor="let img of trunkData; let i=index" (click)="onImageSelected(img,1)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton ==='RearLeft'">
  <div class="img-grid">
    <div  *ngFor="let img of lightData; let i=index" (click)="onImageSelected(img,2)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 3 && isSubmitted, 'hide': activeDiv !== 3 || !isSubmitted}"  *ngIf="activeButton ==='RearLeft'">
  <div class="tabContent">
    <p>Selected Images - Rear Left</p>
    <div class="img-grid">
      <div *ngFor="let img of selectedImagesRearLeft" class="imgcontent">
        <img [src]="baseUrl + img.image" alt="">
      </div>
    </div>
  </div>
</div>


<!--Rear Right-->

<div [ngClass]="{'show': activeDiv === 1, 'hide': activeDiv !== 1}" *ngIf="activeButton ==='RearRight'">
  <div class="img-grid">
    <div  *ngFor="let img of logoData; let i=index" (click)="onImageSelected(img,1)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 1)" (change)="onImageSelected(img, 1)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 2, 'hide': activeDiv !== 2}" *ngIf="activeButton === 'RearRight'">
  <div class="img-grid">
    <div  *ngFor="let img of wiperData; let i=index" (click)="onImageSelected(img,2)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 2)" (change)="onImageSelected(img, 2)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 3, 'hide': activeDiv !== 3}" *ngIf="activeButton ==='RearRight'">
  <div class="img-grid">
    <div  *ngFor="let img of hoodData; let i=index" (click)="onImageSelected(img,3)" class="imgcontent">
    <img src="{{ baseUrl + img.image }}" alt="">
    <input type="checkbox" [checked]="isSelected(img, 3)" (change)="onImageSelected(img, 3)" style="position:relative;margin-left:5.5rem;">
  </div>
  </div>
</div>

<div [ngClass]="{'show': activeDiv === 4 && isSubmitted, 'hide': activeDiv !== 4 || !isSubmitted}" *ngIf="activeButton === 'RearRight'">
  <div class="tabContent">
    <p>Selected Images - Rear Right</p>
    <div class="img-grid">
      <div *ngFor="let img of selectedImagesRearRight" class="imgcontent">
        <img [src]="baseUrl + img.image" alt="">
      </div>
    </div>
  </div>
</div>




  <div class="action" >
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 4 && activeButton === 'FrontLeft'"  >Submit </button>
    <button mat-raised-button color="primary" (click)="onClick()" *ngIf="activeDiv== 5 && activeButton === 'FrontLeft'"  >Done </button>
    
  </div>
  <div class="action" >
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 3 && activeButton === 'FrontRight'" >Submit </button>
    <button mat-raised-button color="primary" (click)="onClick()" *ngIf="activeDiv== 4 && activeButton === 'FrontRight'" >Done </button>
  
  </div>
  <div class="action" >
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 3 &&  activeButton === 'RearRight'" >Submit </button>
    <button mat-raised-button color="primary" (click)="onClick()" *ngIf="activeDiv== 4 &&  activeButton === 'RearRight'" >Done </button>
  
  </div>

  <div class="action" >
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="activeDiv== 2 && activeButton === 'RearLeft'" >Submit </button>
    <button mat-raised-button color="primary" (click)="onClick()" *ngIf="activeDiv== 3 && activeButton === 'RearLeft'" >Done </button>
  
  </div>
</div>


</div>


