@mixin for-desktop {
  @media (min-width: 1024px) and (max-width:1440px){
    @content;
  }
}

@mixin for-tab {
  @media (max-width: 768px) {
    @content;
  }
}



.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // gap:1rem;

  @include for-desktop(){
    width:80%;
    margin-left:7rem;
  }
  button{
    width: 50%;
    height: 3rem;
    font-size: 1.3rem;
    @include for-tab(){
      width: 40%;
      height: 3rem;
      font-size: 1rem;
      margin-top:1rem;
  
    }
  
  }
  .content{
    position: relative;
    width: 74%;
    height: auto;
    overflow: hidden;
    padding:0.5rem;
    @include for-desktop(){
      width:65%;
    }
    @include for-tab(){
      position: relative;
    width: 65%;
    height: auto;
    overflow: hidden;
        max-width: 80%;
      
    }
  }
}

