
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$EV-Project-primary: mat.define-palette(mat.$indigo-palette);
$EV-Project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$EV-Project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$EV-Project-theme: mat.define-light-theme((
  color: (
    primary: $EV-Project-primary,
    accent: $EV-Project-accent,
    warn: $EV-Project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($EV-Project-theme);

/* You can add global styles to this file, and also import other style files */
body{
  // background-color: rgb(21 67 94);
  background-color: rgb(200, 231, 243);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
//   background-color: gray;
//   border-radius: 50%;
//   margin: 10px 40px;
// }
// .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
//   --mdc-tab-header-active-indicator-color: #3f51b50400;
//   --mat-tab-header-active-hover-indicator-color: #3f51b500;
// }
::ng-deep mat-tab-active {
  border-bottom: none; /* Removes the underline */
  background-color: transparent; /* Makes the background transparent */
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: var(--mdc-snackbar-container-shape);
  width: 30rem;
}
div:where(.swal2-container).swal2-center>.swal2-popup {
  grid-column: 2;
  grid-row: 2;
  place-self:center center;
  // margin-right:13rem;
  // margin-top:8rem;
  width:22rem;
}





